@charset "utf-8";
/* CSS Document */

#mirai_bookentrance {background-color:rgba(0,0,0,0.6); padding:12px; border-radius:6px; color:white;}
#mirai_bookentrance span {color:white;}
#mirai_bookentrance input[type=text], #mirai_bookentrance select {background-color:#f2f2f2; border:none !important; padding:6px;}
#mirai_bookentrance input[type=button] {background-color:#333333; border:none !important; color:white; padding:6px; border-radius:6px;}