body {
	background-color: #000
}

#background_wrapper {
	width: 1000px;
	height: 980px;
	margin: 0 auto;
	position: relative
}

#background_img {
	position: fixed;
	top: 0
}

* html #background_img, *+html #background_img {
	position: static
}

#background_div {
	height: 980px;
	background-image:url(bg_miraibooking.png);
}